<div class="create-course">
    <div class="intro">
        <h2 class="mat-display-2">Projekt über das folgende Formular anmelden</h2>
    </div>
    <div class="form">
      <mat-card>
          <div mat-icon-button mat-card-avatar class="list" routerLink="/projects/list">
              <mat-icon>list</mat-icon>
          </div>
          <mat-card-header>
              <button mat-icon-button mat-card-avatar>
                  <mat-icon>save_as</mat-icon>
              </button>
          </mat-card-header>
          <mat-card-content>
              <mat-card-title class="mat-display-1">
                  <span>Projekt anlegen</span>
              </mat-card-title>
              <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
                  <div>
                      <mat-form-field>
                          <mat-label>Projekttitel</mat-label>
                          <input matInput formControlName="title" placeholder="Your title here">
                          <mat-hint align="end">Min 4 characters</mat-hint>
                      </mat-form-field>
                  </div>
                  <div>
                      <mat-form-field>
                          <mat-label>Laufzeit</mat-label>
                          <input matInput formControlName="duration" placeholder="Your duration here">
                          <mat-hint align="end">Min 4 characters</mat-hint>
                      </mat-form-field>
                  </div>
                  <div>
                      <mat-form-field>
                          <mat-label>Infotext</mat-label>
                          <textarea matInput formControlName="description" cols="30" rows="10"></textarea>
                          <mat-hint align="end">Min 10 characters</mat-hint>
                      </mat-form-field>
                  </div>
                  <div class="upload">
                      <input #projektlogo hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoProject($event)" />
                      <button type="button" mat-stroked-button (click)="projektlogo.click()">Projektlogo</button>
                      <img [src]="logoProject" class="preview" />
                  </div>
                  <div class="upload">
                      <input #kooperationspartner hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoPatner($event)" />
                      <button type="button" mat-stroked-button (click)="kooperationspartner.click()">Logos Kooperationspartner</button>
                      <img [src]="logoPatner" class="preview" />
                  </div>
                  <div class="upload">
                      <input #forderer hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoSponsor($event)" />
                      <button type="button" mat-stroked-button (click)="forderer.click()">Logos Förderer</button>
                      <img [src]="logoSponsor" class="preview" />
                  </div>
  
                  <mat-card-actions>
                      <button
                          mat-flat-button
                          matTooltip="Save new project"
                          matTooltipShowDelay="500"
                          matTooltipHideDelay="1000"
                          [disabled]="projectForm.invalid">
                          Speichern
                      </button>
                  </mat-card-actions>
              </form>
          </mat-card-content>
      </mat-card>
    </div>
    
    <!-- <div class="row" hidden>
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" accept="image/*" (change)="selectFile($event)" />
          </label>
        </div>
      
        <div class="col-4">
          <button
            class="btn btn-success btn-sm float-right"
            [disabled]="!selectedFiles"
            (click)="upload()"
          >
            Upload
          </button>
        </div>
      </div>
      
      <div>
        <img [src]="preview" class="preview" />
      </div>
      
      <div *ngIf="currentFile && progress" class="progress my-3">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      
      <div *ngIf="message" class="alert alert-secondary" role="alert">
        {{ message }}
      </div>
      
      <div class="card mt-3" hidden>
        <div class="card-header">List of Images</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let image of imageInfos | async"
        >
          <li class="list-group-item">
            <p>
              <a href="{{ image.url }}">{{ image.name }}</a>
            </p>
            <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
          </li>
        </ul>
    </div> -->
</div>
